doctype html
html.no-js(lang="")
    head
        // Site Title
        title Fourtify - CSE 112 - Team 4
        // Site Meta Info
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="Fourtify - CSE 112 - Team 4")
        meta(name="keywords", content="cse, ucsd, cse112, winter16, wi16")
        meta(name="author", content="fourtify")
        // Essential CSS Files
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/font-awesome.min.css")
        link(rel="stylesheet", href="css/animate.css")
        link(rel="stylesheet", href="css/simplelightbox.min.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/owl.carousel.css")
        link(rel="stylesheet", href="css/owl.theme.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/colors/color-blue.css")
        // Responsive CSS
        link(rel="stylesheet", href="css/responsive.css")
        // Google Web Fonts =:= Raleway , Montserrat and Roboto
        link(href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700", rel="stylesheet", type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:700,400", rel="stylesheet", type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:700,500,400", rel="stylesheet", type="text/css")
        // Essential JS Files
        script(src="js/vendor/jquery-1.11.3.min.js")
        script(src="js/vendor/modernizr-2.8.3.min.js")
        // IE9 Scripts
        //if lt IE 9
          script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
          script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    body
        // Heaser Area Start
        header.header-area
            // Navigation start
            nav.navbar.navbar-custom.tb-nav(role="navigation")
                .container
                    .navbar-header
                        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#tb-nav-collapse")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand.logo(href="/index")
                            h2
                                | Four
                                span tify
                    #tb-nav-collapse.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li.active
                                a.page-scroll(href="/#top") Home
        // Navigation end

        // Signup Section
        section#signup.signup-section
            .container-fluid
                .row
                    .col-md-8.col-md-offset-2
                        form.col-md-12(action='/', method='post')
                            .col-md-12
                                br
                                .headers.section-title.signup-title Your Information
                            .col-md-12.signup-table
                                .field-wrap.col-md-6
                                    input.signup-input(type='text', required, autocomplete='off', name="fname", placeholder="First Name")
                                .field-wrap.col-md-6
                                    input.signup-input(type='text', required, autocomplete='off', name="lname", placeholder="Last Name")
                                .field-wrap.col-md-12
                                    input.signup-input(type='email', required, autocomplete='off', name="email", placeholder="Email Address")
                                .field-wrap.col-md-12
                                    input.signup-input(type='password', required, autocomplete='off', name="password", placeholder="Password")
                                .field-wrap.col-md-12
                                    input.signup-input(type='password', required, autocomplete='off', name="cpassword", placeholder="Confirm Password")
                                .field-wrap.col-md-12
                                    input.signup-input(type='text', required, autocomplete='off', name="company", placeholder="Company Name")
                                .field-wrap
                                    .col-md-7
                                        input.signup-input(type='text', required, autocomplete='off', name="domain", placeholder="Domain / Sub-domain")
                                    .col-md-5.pull-left
                                        p.signup-host .fourtify.us
                            b
                            .col-md-12
                                br
                                br
                                .headers.section-title.signup-title Credit Card Information
                            .col-md-12
                                .field-wrap.col-md-12
                                    input.signup-input(type='text', autocomplete='off', name="ccnum",
                                    placeholder="Card Number")
                                .field-wrap.col-md-12
                                    input.signup-input(type='text', autocomplete='off', name="cvv",
                                    placeholder="CVV/CCV2")
                            .col-md-12
                                .headers#error.error(style="color:red")
                                .headers#success.success(style="color:green")
                            .col-md-12
                                button.button.button-block(type='submit') Sign up
                                br
                                br
                                br
        // Footer Section
        footer.footer-section
            .container
                .row.mt-30.mb-30
                    .col-md-12.text-center
                        // Footer Copy Right Text
                        .copyright-info
                            a(href="http://fourtify.us")
                                | &copy 2016 Fourtify
                        // Footer Social Icons
                        .social-icons.mt-30
                            a(href="https://www.facebook.com/")
                                i.fa.fa-facebook
                            a(href="https://twitter.com/")
                                i.fa.fa-twitter
                            a(href="https://plus.google.com/")
                                i.fa.fa-google-plus
                            a(href="https://github.com/")
                                i.fa.fa-github
        // End Of Footer Section
        // JS Files
        // Bootstrap JS
        script(src="js/bootstrap.min.js")
        // jQuery Easing
        script(src="js/jquery.easing.min.js")
        // Sticky
        script(src="js/jquery.sticky.js")
        // Shuffle jQuery
        script(src="js/jquery.shuffle.min.js")
        script.
            $(document).ready(function () {

                $('input[name=company]').change(function(){
                    $('input[name=domain]').val($('input[name=company]').val());
                });

                // process the form
                $('form').submit(function (event) {

                    $("#error").hide();
                    $("#success").hide();

                    // get the form data
                    // there are many ways to get this data using jQuery (you can use the class or id also)
                    var formData = {
                        'fname': $('input[name=fname]').val(),
                        'lname': $('input[name=lname]').val(),
                        'email': $('input[name=email]').val(),
                        'password': $('input[name=password]').val(),
                        'company': $('input[name=company]').val(),
                        'domain': $('input[name=domain]').val()
                    };

                    if(!formData.fname){
                        $("#error").html("First name must be filled in");
                        $("#error").show();
                    }
                    else if (!formData.email) {
                        $("#error").html("Email must be filled in");
                        $("#error").show();
                    }
                    else if (!formData.password) {
                        $("#error").html("Password must be filled in");
                        $("#error").show();
                    }
                    else if (!formData.company) {
                        $("#error").html("Company must be filled in");
                        $("#error").show();
                    }
                    else if (!formData.domain) {
                        $("#error").html("Domain must be filled in");
                        $("#error").show();
                    }
                    else if($('input[name=password]').val() != $('input[name=cpassword]').val()){
                        $("#error").html("Passwords do not match");
                        $("#error").show();
                    }
                    else{
                        // process the form
                        $.ajax({
                                    type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                                    url: '/signup', // the url where we want to POST
                                    data: formData, // our data object
                                    dataType: 'json', // what type of data do we expect back from the server
                                    encode: true
                                })
                                // using the done promise callback
                                .done(function (data) {

                                    // log data to the console so we can see
                                    console.log(data);
                                    if(data.success){
                                        $("#success").html("Thank you for signing up, a confirmation email has been " +
                                                "sent to you. You can visit your site at: "+formData.domain+".fourtify.us " +
                                                "and use "+formData.domain+", your email, and your password to login to the admin panel at: provider.fourtify.us");
                                        $("#success").show();
                                    }
                                    else{
                                        console.log(data);
                                        $("#error").html(data._msg);
                                        $("#error").show();
                                    }

                                    // here we will handle errors and validation messages
                                })
                                .error(function(data){
                                    var responseText = JSON.parse(data.responseText);
                                    $("#error").html(responseText._msg);
                                    $("#error").show();
                                });
                    }

                    // stop the form from submitting the normal way and refreshing the page
                    event.preventDefault();
                });

            });
